<div class="container">
    <div class="row">
        <div class="col-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-12">
                    <h2>Level 1 (KYC nationality)</h2>
                    <p>Scan the Yoti QR code to continue</p>
                    <div>
                        <span [attr.data-yoti-application-id]="yotiApplicationId" [attr.data-yoti-scenario-id]="yotiScenarioId" data-yoti-type="instant">
                            Use Yoti
                        </span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>Level 2 (KYC Residence)</h2>
                    Please verify yourself with uploading utility bill:

                </div>
            </div>
        </div>
    </div>

</div>