<!-- <app-sidebar></app-sidebar> -->
<div class="container container-240">
    <div class="row">
            <!-- <app-sidebar></app-sidebar> -->
            <!-- <div class="col-lg-3">
                    <h2>Welcome to profile, username</h2>
                    Here you can view settings
                </div> -->
                <div class="col-lg-3 widget-verticalmenu"><app-sidebar></app-sidebar> </div>
        <div class="col-lg-9 widget-left">
            <h2>Welcome to profile, username</h2>
            Here you can view settings
        </div>
    </div>
</div>