<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="_form" (ngSubmit)="reset()">
                    <h4>Reset password</h4>
                    <div class="form-group">
                        <label for="">New Password</label>
                        <input type="password" class="form-control" name="password" formControlName="password"
                            placeholder="New Password" />
                        <app-field-error [displayError]="formValidationService.isFieldInvalid(_form,'password','required')"
                            errorMsg="Field is required"></app-field-error>
                    </div>
                    <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmpassword" formControlName="confirmpassword"
                            placeholder="Confirm Password" />
                        <app-field-error [displayError]="formValidationService.isFieldInvalid(_form,'confirmpassword','required')"
                            errorMsg="Field is required"></app-field-error>
                        <app-field-error [displayError]="formValidationService.isFieldInvalid(_form,'confirmpassword','matchOther')"
                            errorMsg="Passwords do not match"></app-field-error>
                    </div>
                    <button type="submit" class="btn btn-eg">Reset Password</button>
                    <div *ngIf="_registered" class="alert alert-success box-msg" role="alert">
                        <strong>Account registered!</strong> You will be redirected in sec
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>