<div class="navbar-vertical">
    <button class="navbar-toggles"><span>Member area</span></button>
</div>
<div class="vertical-wrapper">
    <ul class="vertical-group">
        <li class="vertical-item level1"><a href="#" [routerLink]="['/member/profile']">Profile</a></li>
        <li class="vertical-item level1"><a href="#" [routerLink]="['/member/passport']">Passport</a></li>
        <li class="vertical-item level1"><a href="#" [routerLink]="['/member/shipping-address']">Shipping Address</a></li>
        <li class="vertical-item level1"><a href="#">Transactions</a></li>
        <li class="vertical-item level1"><a href="#">Selling</a></li>
        <li class="vertical-item level1"><a href="#">History</a></li>
    </ul>
</div>