<section class="all-s">
    <div class="header-bottom hidden-xs hidden-sm">
        <div class="container container-240">
            <div class="row">
                <div class="col-lg-3 widget-verticalmenu">
                    <div class="navbar-vertical">
                        <button class="navbar-toggles"><span>All Categories</span></button>
                    </div>
                    <div class="vertical-wrapper">
                        <ul class="vertical-group">
                            <li class="vertical-item level1 mega-parent"><a href="./shop_full.html">New
                                    Arrivals</a></li>
                            <li class="vertical-item level1 mega-parent"><a href="./shop_full.html">Top 100
                                    Best Seller <span class="h-ribbon e-red mg-l10">Hot</span></a></li>
                            <li class="vertical-item level1 vertical-drop"><a href="#">TV & Video</a>
                                <div class="menu-level-1 dropdown-menu vertical-menu v2 tvbg pd2 style1">
                                    <ul class="level1">
                                        <li class="level2 col-md-5">
                                            <a href="#">TVs by Type</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">4K Ultra HD</a></li>
                                                <li class="level3"><a href="#" title="">Smart TVs</a></li>
                                                <li class="level3"><a href="#" title="">LED & LCD TVs &
                                                        amplifiers</a></li>
                                                <li class="level3"><a href="#" title="">OLED TVs</a></li>
                                                <li class="level3"><a href="#" title="">QLED/Quantum Dot TVs
                                                    </a></li>
                                            </ul>
                                            <a href="#">Blu-ray & DVD Players</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">4K Blu-ray Players</a></li>
                                                <li class="level3"><a href="#" title="">Streaming Blu-ray
                                                        Players</a></li>
                                                <li class="level3"><a href="#" title="">3D Blu-ray Players</a></li>
                                                <li class="level3"><a href="#" title="">Portable Blu-ray
                                                        Players</a></li>
                                                <li class="level3"><a href="#" title="">DVD Recorders</a></li>
                                            </ul>
                                        </li>
                                        <li class="level2 col-md-7">
                                            <a href="# ">Home Audio</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">Home Theater Systems</a></li>
                                                <li class="level3"><a href="#" title="">Soundbars</a></li>
                                                <li class="level3"><a href="#" title="">Speakers</a></li>
                                                <li class="level3"><a href="#" title="">Receivers & Amplifiers</a></li>
                                                <li class="level3"><a href="#" title="">Premium Audio</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="vertical-item level1 vertical-drop"><a href="#">Home Audi & Theater</a>
                                <div class="menu-level-1 dropdown-menu vertical-menu v2 homebg pd2 style1">
                                    <ul class="level1">
                                        <li class="level2 col-md-4">
                                            <a href="#">Home theater</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">Sound bars</a></li>
                                                <li class="level3"><a href="#" title="">Speakers</a></li>
                                                <li class="level3"><a href="#" title="">Receivers & amplifiers</a></li>
                                                <li class="level3"><a href="#" title="">Equalizers</a></li>
                                                <li class="level3"><a href="#" title="">Phono preamps </a></li>
                                            </ul>
                                        </li>
                                        <li class="level2 col-md-4">
                                            <a href="# ">Speakers</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">Bluetooth speakers</a></li>
                                                <li class="level3"><a href="#" title="">Ceiling & in-wall
                                                        speakers</a></li>
                                                <li class="level3"><a href="#" title="">Digital music systems</a></li>
                                                <li class="level3"><a href="#" title="">Outdoor</a></li>
                                                <li class="level3"><a href="#" title="">Satellite speakers</a></li>
                                            </ul>
                                        </li>
                                        <li class="level2 col-md-4">
                                            <a href="#">Accessories</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">Receivers & amplifiers</a></li>
                                                <li class="level3"><a href="#" title="">Cd & tape players</a></li>
                                                <li class="level3"><a href="#" title="">Tuners</a></li>
                                                <li class="level3"><a href="#" title="">Curntables</a></li>
                                                <li class="level3"><a href="#" title="">Receivers & adapters</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="vertical-item level1 vertical-drop"><a href="#">Camera, Photo & Video</a>
                                <div class="menu-level-1 dropdown-menu vertical-menu">
                                    <ul class="vertical-menu1">
                                        <li><a href="#">Car Audio</a></li>
                                        <li><a href="#">Radar Detectors</a></li>
                                        <li><a href="#">Car Safety & Security</a></li>
                                        <li><a href="#">Car Video</a></li>
                                        <li><a href="#">Two-Way Radios</a></li>
                                        <li><a href="#">CB Radios & Scanners</a></li>
                                        <li><a href="#">In-Dash Mounting Kits</a></li>
                                        <li><a href="#">Installation Accessories.</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="vertical-item level1 vertical-drop"><a href="#">Cell Phones &
                                    Accessories</a>
                                <div class="menu-level-1 dropdown-menu vertical-menu v2 phonebg pd2 style1">
                                    <ul class="level1">
                                        <li class="level2 col-md-4">
                                            <a href="#">Cell Phones</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">Samsung Galaxy S8</a></li>
                                                <li class="level3"><a href="#" title="">iPhone 7/7 Plus</a></li>
                                                <li class="level3"><a href="#" title="">iPhone 6</a></li>
                                                <li class="level3"><a href="#" title="">Samsung Galaxy S7</a></li>
                                                <li class="level3"><a href="#" title="">Unlocked Phones</a></li>
                                            </ul>
                                            <a href="#">Cases</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">4Armbands</a></li>
                                                <li class="level3"><a href="#" title="">Armbands</a></li>
                                                <li class="level3"><a href="#" title="">Cases</a></li>
                                                <li class="level3"><a href="#" title="">Flip Cases</a></li>
                                                <li class="level3"><a href="#" title="">Holsters & Clips</a></li>
                                            </ul>
                                        </li>
                                        <li class="level2 col-md-8">
                                            <a href="# ">Accessories</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">Batteries</a></li>
                                                <li class="level3"><a href="#" title="">Bluetooth Headsets</a></li>
                                                <li class="level3"><a href="#" title="">Bluetooth Speakers</a></li>
                                                <li class="level3"><a href="#" title="">Car Accessories</a></li>
                                                <li class="level3"><a href="#" title="">Chargers</a></li>
                                            </ul>
                                            <a href="# ">Connected Devices</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">Tablets</a></li>
                                                <li class="level3"><a href="#" title="">Mobile Hotspots</a></li>
                                                <li class="level3"><a href="#" title="">Smart Watches</a></li>
                                                <li class="level3"><a href="#" title="">Wearable Technology</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="vertical-item level1 vertical-drop"><a href="#">Headphones</a>
                                <div class="menu-level-1 dropdown-menu vertical-menu v2 headphonebg pd3 style1">
                                    <ul class="level1">
                                        <li class="level2 col-md-6">
                                            <a href="#">Headphones</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">In-Ear & Earbud</a></li>
                                                <li class="level3"><a href="#" title="">On-Ear</a></li>
                                                <li class="level3"><a href="#" title="">Over-Ear</a></li>
                                                <li class="level3"><a href="#" title="">Wireless</a></li>
                                                <li class="level3"><a href="#" title="">Sports & Fitness</a></li>
                                            </ul>
                                        </li>
                                        <li class="level2 col-md-6">
                                            <a href="# ">Speaker System</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">Complete Systems</a></li>
                                                <li class="level3"><a href="#" title="">Sound Bars</a></li>
                                                <li class="level3"><a href="#" title="">Surround Sound</a></li>
                                                <li class="level3"><a href="#" title="">Receivers & Amplifiers</a></li>
                                                <li class="level3"><a href="#" title="">Equalizers</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="vertical-item level1 vertical-drop"><a href="#">Car Electronics</a>
                                <div class="menu-level-1 dropdown-menu vertical-menu">
                                    <ul class="vertical-menu1">
                                        <li><a href="#">Car Audio</a></li>
                                        <li><a href="#">Radar Detectors</a></li>
                                        <li><a href="#">Car Safety & Security</a></li>
                                        <li><a href="#">Car Video</a></li>
                                        <li><a href="#">Two-Way Radios</a></li>
                                        <li><a href="#">CB Radios & Scanners</a></li>
                                        <li><a href="#">In-Dash Mounting Kits</a></li>
                                        <li><a href="#">Installation Accessories.</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="vertical-item level1 vertical-drop"><a href="#">Electronics Showcase</a>
                                <div class="menu-level-1 dropdown-menu vertical-menu">
                                    <ul class="vertical-menu1">
                                        <li><a href="#">Car Audio</a></li>
                                        <li><a href="#">Radar Detectors</a></li>
                                        <li><a href="#">Car Safety & Security</a></li>
                                        <li><a href="#">Car Video</a></li>
                                        <li><a href="#">Two-Way Radios</a></li>
                                        <li><a href="#">CB Radios & Scanners</a></li>
                                        <li><a href="#">In-Dash Mounting Kits</a></li>
                                        <li><a href="#">Installation Accessories.</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="vertical-item level1 vertical-drop"><a href="#">Headphones</a>
                                <div class="menu-level-1 dropdown-menu vertical-menu v2 headphonebg pd3 style1">
                                    <ul class="level1">
                                        <li class="level2 col-md-6">
                                            <a href="#">Headphones</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">In-Ear & Earbud</a></li>
                                                <li class="level3"><a href="#" title="">On-Ear</a></li>
                                                <li class="level3"><a href="#" title="">Over-Ear</a></li>
                                                <li class="level3"><a href="#" title="">Wireless</a></li>
                                                <li class="level3"><a href="#" title="">Sports & Fitness</a></li>
                                            </ul>
                                        </li>
                                        <li class="level2 col-md-6">
                                            <a href="# ">Speaker System</a>
                                            <ul class="menu-level-2">
                                                <li class="level3"><a href="#" title="">Complete Systems</a></li>
                                                <li class="level3"><a href="#" title="">Sound Bars</a></li>
                                                <li class="level3"><a href="#" title="">Surround Sound</a></li>
                                                <li class="level3"><a href="#" title="">Receivers & Amplifiers</a></li>
                                                <li class="level3"><a href="#" title="">Equalizers</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="vertical-item level1 vertical-drop"><a href="#">Car Electronics</a>
                                <div class="menu-level-1 dropdown-menu vertical-menu">
                                    <ul class="vertical-menu1">
                                        <li><a href="#">Car Audio</a></li>
                                        <li><a href="#">Radar Detectors</a></li>
                                        <li><a href="#">Car Safety & Security</a></li>
                                        <li><a href="#">Car Video</a></li>
                                        <li><a href="#">Two-Way Radios</a></li>
                                        <li><a href="#">CB Radios & Scanners</a></li>
                                        <li><a href="#">In-Dash Mounting Kits</a></li>
                                        <li><a href="#">Installation Accessories.</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="vertical-item level1 vertical-drop"><a href="#">Electronics Showcase</a>
                                <div class="menu-level-1 dropdown-menu vertical-menu">
                                    <ul class="vertical-menu1">
                                        <li><a href="#">Car Audio</a></li>
                                        <li><a href="#">Radar Detectors</a></li>
                                        <li><a href="#">Car Safety & Security</a></li>
                                        <li><a href="#">Car Video</a></li>
                                        <li><a href="#">Two-Way Radios</a></li>
                                        <li><a href="#">CB Radios & Scanners</a></li>
                                        <li><a href="#">In-Dash Mounting Kits</a></li>
                                        <li><a href="#">Installation Accessories.</a></li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 widget-left">
                    <div class="flex lr">
                        <nav class="main-menu flex align-center">
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav js-menubar">
                                    <li class="level1 active hassub"><a href="#">Flash Deals<span class="h-ribbon h-pos e-green">sale</span></a>
                                        <span class="plus js-plus-icon"></span>
                                        <div class="menu-level-1 ver2 dropdown-menu">
                                            <div class="row">
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html">
                                                            <img src="assets/img/demo/demo1.jpg" alt="" class="img-reponsive">

                                                        </a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html"><img src="assets/img/demo/demo2.jpg"
                                                                alt="" class="img-reponsive"></a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html"><img src="assets/img/demo/demo3.jpg"
                                                                alt="" class="img-reponsive"></a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html"><img src="assets/img/demo/demo4.jpg"
                                                                alt="" class="img-reponsive"></a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html"><img src="assets/img/demo/demo5.jpg"
                                                                alt="" class="img-reponsive"></a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="#"><img src="assets/img/demo/demo6.jpg" alt="" class="img-reponsive"></a>
                                                        <div class="overlay-img box-center">
                                                            <a href="#" class="btn-gradient btn-csoon">Coming
                                                                soon</a>
                                                        </div>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="level1 active hassub"><a href="#">New Arrivals<span class="h-ribbon h-pos e-red">New</span></a>
                                        <span class="plus js-plus-icon"></span>
                                        <div class="menu-level-1 ver2 dropdown-menu">
                                            <div class="row">
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html">
                                                            <img src="assets/img/demo/demo1.jpg" alt="" class="img-reponsive">

                                                        </a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html"><img src="assets/img/demo/demo2.jpg"
                                                                alt="" class="img-reponsive"></a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html"><img src="assets/img/demo/demo3.jpg"
                                                                alt="" class="img-reponsive"></a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html"><img src="assets/img/demo/demo4.jpg"
                                                                alt="" class="img-reponsive"></a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html"><img src="assets/img/demo/demo5.jpg"
                                                                alt="" class="img-reponsive"></a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="#"><img src="assets/img/demo/demo6.jpg" alt="" class="img-reponsive"></a>
                                                        <div class="overlay-img box-center">
                                                            <a href="#" class="btn-gradient btn-csoon">Coming
                                                                soon</a>
                                                        </div>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="level1 active hassub"><a href="#">Top Rated</a>
                                        <span class="plus js-plus-icon"></span>
                                        <div class="menu-level-1 ver2 dropdown-menu">
                                            <div class="row">
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html">
                                                            <img src="assets/img/demo/demo1.jpg" alt="" class="img-reponsive">

                                                        </a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html"><img src="assets/img/demo/demo2.jpg"
                                                                alt="" class="img-reponsive"></a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html"><img src="assets/img/demo/demo3.jpg"
                                                                alt="" class="img-reponsive"></a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html"><img src="assets/img/demo/demo4.jpg"
                                                                alt="" class="img-reponsive"></a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="shop_full.html"><img src="assets/img/demo/demo5.jpg"
                                                                alt="" class="img-reponsive"></a>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                                <div class="cate-item col-md-4 col-sm-12">
                                                    <div class="demo-img">
                                                        <a href="#"><img src="assets/img/demo/demo6.jpg" alt="" class="img-reponsive"></a>
                                                        <div class="overlay-img box-center">
                                                            <a href="#" class="btn-gradient btn-csoon">Coming
                                                                soon</a>
                                                        </div>
                                                    </div>
                                                    <div style="text-align: center; margin-top: 5px;">
                                                        <span style="color: #ff2929;">$1.450.00</span>
                                                        <span style="color: #aaaaaa; font-size: 14px; text-decoration: line-through; margin-left: 6px;">$1,215.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="header-bottom-right hidden-xs hidden-sm" style="position: relative; height: 57px;  -webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; background: #ff7eb3; background-image: linear-gradient(122deg, #ff758c , #ff7eb3); padding-right: 26px;  text-align: left; padding-left: 26px; border-radius: 9999px; color: #ffffff; ">
                            <span style="color: #ffffff; font-size: 18px; font-weight: 500; line-height: 55px; text-transform: capitalize;">Sell
                                Something</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ads-group v2 nospc">
        <div class="container container-240">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 set-w hidden-xs hidden-sm "></div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 set-flex ">
                    <div class="slide-shop_full">
                        <div class="e-slide v2 js-slider-3items">
                            <div class="e-slide-img">
                                <a href="#"><img src="assets/img/slider/h3_s1.jpg" alt=""></a>
                                <div class="slide-content v2">
                                    <p class="cate v2">Google Home</p>
                                    <h3 class="v2">A coral fabric base is coming soon</h3>
                                    <p class="sale v2">From <span class="red">69.99</span></p>
                                    <a href="./shop_full" class="slide-btn e-yl-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature -->
    <div class="feature v2">
        <div class="container container-240">
            <div class="feature-inside">
                <div class="feature-block v2 text-center">
                    <div class="feature-block-img"><img src="assets/img/feature/g-truck.png" alt="" class="img-reponsive"></div>
                    <div class="feature-info v2">
                        <h3>Worldwide Delivery</h3>
                        <p>With sites in 5 languages, we ship to over 200 countries & regions.</p>
                    </div>
                </div>
                <div class="feature-block v2 text-center">
                    <div class="feature-block-img"><img src="assets/img/feature/g-credit.png" alt="" class="img-reponsive"></div>
                    <div class="feature-info v2">
                        <h3>Safe Payment</h3>
                        <p>Pay with the world’s most popular and secure payment methods.</p>
                    </div>
                </div>
                <div class="feature-block v2 text-center">
                    <div class="feature-block-img"><img src="assets/img/feature/g-safety.png" alt="" class="img-reponsive"></div>
                    <div class="feature-info v2">
                        <h3>Shop with Confidence</h3>
                        <p>Our Buyer Protection covers your purchase from click to delivery.</p>
                    </div>
                </div>
                <div class="feature-block v2 text-center">
                    <div class="feature-block-img"><img src="assets/img/feature/g-tele.png" alt="" class="img-reponsive"></div>
                    <div class="feature-info v2">
                        <h3>24/7 Help Center</h3>
                        <p>Round-the-clock assistance for a smooth shopping experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>