<section class="all-s">
    <div class="ads-group v2 nospc">
        <div class="container container-240">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 set-w hidden-xs hidden-sm "></div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 set-flex ">
                    <div class="slide-shop_full">
                        <div class="e-slide v2 js-slider-3items">
                            <div class="e-slide-img">
                                <a href="#"><img src="assets/img/slider/h3_s1.jpg" alt=""></a>
                                <div class="slide-content v2">
                                    <p class="cate v2">Google Home</p>
                                    <h3 class="v2">A coral fabric base is coming soon</h3>
                                    <p class="sale v2">From <span class="red">69.99</span></p>
                                    <a href="./shop_full" class="slide-btn e-yl-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature -->
    <div class="feature v2">
        <div class="container container-240">
            <div class="feature-inside">
                <div class="feature-block v2 text-center">
                    <div class="feature-block-img"><img src="assets/img/feature/g-truck.png" alt="" class="img-reponsive"></div>
                    <div class="feature-info v2">
                        <h3>Worldwide Delivery</h3>
                        <p>With sites in 5 languages, we ship to over 200 countries & regions.</p>
                    </div>
                </div>
                <div class="feature-block v2 text-center">
                    <div class="feature-block-img"><img src="assets/img/feature/g-credit.png" alt="" class="img-reponsive"></div>
                    <div class="feature-info v2">
                        <h3>Safe Payment</h3>
                        <p>Pay with the world’s most popular and secure payment methods.</p>
                    </div>
                </div>
                <div class="feature-block v2 text-center">
                    <div class="feature-block-img"><img src="assets/img/feature/g-safety.png" alt="" class="img-reponsive"></div>
                    <div class="feature-info v2">
                        <h3>Shop with Confidence</h3>
                        <p>Our Buyer Protection covers your purchase from click to delivery.</p>
                    </div>
                </div>
                <div class="feature-block v2 text-center">
                    <div class="feature-block-img"><img src="assets/img/feature/g-tele.png" alt="" class="img-reponsive"></div>
                    <div class="feature-info v2">
                        <h3>24/7 Help Center</h3>
                        <p>Round-the-clock assistance for a smooth shopping experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>