<div class="container">
  <div class="row">
    <div class="col-md-12 align-self-center">
      <form [formGroup]="form" (ngSubmit)="send()">
        <h2>Forgot Password</h2>
          <h4>Enter the email address you used to sign up</h4>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input class="form-control" name="email" formControlName="email" placeholder="Email Address*" />
            <app-field-error [displayError]="formValidationService.isFieldInvalid(form,'email','required')"
              errorMessage="Field is required"></app-field-error>
            <app-field-error [displayError]="formValidationService.isFieldInvalid(form,'email','email')" errorMessage="Please insert correct email"></app-field-error>
          </div>
          <button type="submit" class="btn btn-eg">Send Verification Code</button>
      </form>
    </div>
  </div>
</div>