<div class="container container-240">
  <div class="row">
    <div class="col-lg-3 widget-verticalmenu">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9 widget-left">
      <h2>Your Shipping Addresses</h2>

      <form [formGroup]="form" (ngSubmit)="save()">
        <h4>Add Shipping Address</h4>
        <div class="form-group">
          <label for="search">Search</label>
          <input type="text" class="form-control" formControlName="search" appGooglePlaces (selected)="setAddress($event)"
            placeholder="Type to search.." />
          <app-field-error [displayError]="formValidationService.isFieldInvalid(form,'search','required')" errorMessage="Field is required"></app-field-error>
        </div>
        <div *ngIf="googlePlacesResponse">
          <div class="form-group">
            <label for="route">Street</label>
            <input class="form-control" name="route" formControlName="route" placeholder="Street" />
            <app-field-error [displayError]="formValidationService.isFieldInvalid(form,'route','required')"
              errorMessage="Field is required"></app-field-error>
          </div>
          <div class="form-group">
            <label for="street_number">Street Number</label>
            <input class="form-control" name="street_number" formControlName="street_number" placeholder="Street Number" />
            <app-field-error [displayError]="formValidationService.isFieldInvalid(form,'street_number','required')"
              errorMessage="Field is required"></app-field-error>
          </div>
          <div class="form-group" *ngIf="googlePlacesResponse.locality != undefined;else show_administrative_area_level_1">
            <label for="locality">City</label>
            <input class="form-control" name="locality" formControlName="locality" placeholder="City" />
            <app-field-error [displayError]="formValidationService.isFieldInvalid(form,'locality','required')"
              errorMessage="Field is required"></app-field-error>
          </div>
          <ng-template #show_administrative_area_level_1>
            <div class="form-group">
              <label for="administrative_area_level_1">City</label>
              <input class="form-control" name="administrative_area_level_1" formControlName="administrative_area_level_1"
                placeholder="City" />
              <app-field-error [displayError]="formValidationService.isFieldInvalid(form,'administrative_area_level_1','required')"
                errorMessage="Field is required"></app-field-error>
            </div>
          </ng-template>
          <div class="form-group" *ngIf="googlePlacesResponse.administrative_area_level_2">
            <label for="administrative_area_level_2">Area</label>
            <input class="form-control" name="administrative_area_level_2" formControlName="administrative_area_level_2"
              placeholder="Area" />
            <app-field-error [displayError]="formValidationService.isFieldInvalid(form,'administrative_area_level_2','required')"
              errorMessage="Field is required"></app-field-error>
          </div>
          <div class="form-group" *ngIf="googlePlacesResponse.sublocality_level_1">
            <label for="sublocality_level_1">Sublocality</label>
            <input class="form-control" name="sublocality_level_1" formControlName="sublocality_level_1" placeholder="Sublocality" />
            <app-field-error [displayError]="formValidationService.isFieldInvalid(form,'sublocality_level_1','required')"
              errorMessage="Field is required"></app-field-error>
          </div>
          <div class="form-group" *ngIf="googlePlacesResponse.neighborhood">
            <label for="neighborhood">Neighborhood</label>
            <input class="form-control" name="neighborhood" formControlName="neighborhood" placeholder="Neighborhood" />
            <app-field-error [displayError]="formValidationService.isFieldInvalid(form,'neighborhood','required')"
              errorMessage="Field is required"></app-field-error>
          </div>
          <div class="form-group">
            <label for="postal_code">Postal Code</label>
            <input class="form-control" name="postal_code" formControlName="postal_code" placeholder="Postal Code" />
            <app-field-error [displayError]="formValidationService.isFieldInvalid(form,'postal_code','required')"
              errorMessage="Field is required"></app-field-error>
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input class="form-control" name="country" formControlName="country" placeholder="Country" />
            <app-field-error [displayError]="formValidationService.isFieldInvalid(form,'country','required')"
              errorMessage="Field is required"></app-field-error>
          </div>
          <button type="submit" class="btn btn-eg">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>